@viewport {
  zoom: 1.0;
  width: device-width;
}

body {
  background: white;
}

header {
  background-color: #6A2E35;
  color: white;
  padding: 1em;
}

p {
  font-size: 1.5em;
}

h1 {
  text-align-last: center;
}

.home {
  text-align: center;
  padding: 5em 0;
}

nav {
  background-color: #6A2E35;
  font-size: 24px;
  float:right;
  margin-top: 10px;
}

nav > button {
  color: white;
  font-size: 24px;
  background-color: none;
  background: none;
  border: none;
}

nav > button:focus {
  outline:0;
  color: #AD8D90;
}

nav > button:hover {
  color: #AD8D90;
}

.divider {
  color: white;
}

footer {
	background-color: #6A2E35;
  color: white;
	text-align: center;
  margin-top: 1em;
  font-family: 'Lemonada', cursive;
  font-size: 16px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}
